<body>
    <a id='firstHalf' class='section scrollspy'></a>
    <div class='landing'>
        <br><br><br><br>
        <div class='content'>
            <div class='row'>
                <div class='col s6'>
                    <h1>{{title}}</h1>

                    <h5>escape the resort confines</h5>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class='col s2 holder center hoverable nav'>
                    <h5><a class='nav' href="/users">Sign Up</a></h5>
                </div>
                <div class='col s2 offset-s1 holder center hoverable nav'>
                    <h5><a class='nav' href="/mountains">Explore</a></h5>
                </div>
            </div>
            <div class='row'>
                <div class='col s2 offset-s2'>
                    <a href="#secondHalf"><i class="material-icons large">keyboard_arrow_down</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class='content row second'>
        <div class='col s8 offset-s1'>
            <h2>About</h2>
        </div>
        <div class='row'>
            <div class='col s4 offset-s1 center-align z-depth-4'>
                <h4>Origin</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odio fugiat illum pariatur quos dicta,
                    praesentium, quasi veniam doloribus cum doloremque id, veritatis vitae sequi? Doloribus itaque maiores
                    distinctio magni?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odio fugiat illum pariatur quos dicta,
                    praesentium, quasi veniam doloribus cum doloremque id, veritatis vitae sequi? Doloribus itaque maiores
                    distinctio magni?</p>
                <h4>Important Information</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odio fugiat illum pariatur quos dicta,
                    praesentium, quasi veniam doloribus cum doloremque id, veritatis vitae sequi? Doloribus itaque maiores
                    distinctio magni?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odio fugiat illum pariatur quos dicta,
                    praesentium, quasi veniam doloribus cum doloremque id, veritatis vitae sequi? Doloribus itaque maiores
                    distinctio magni?</p>
                <div class='center-align'>
                    <a href="#firstHalf"><i class="material-icons large">keyboard_arrow_up</i></a>
                </div>
            </div>
            <div class="col s4 offset-s1">
                <img class="responsive-img z-depth-4" src="https://i.imgur.com/I1Y5UtAl.jpg" alt="ski">
            </div>
        </div>
    </div>
    <a id='secondHalf' class='section scrollspy'></a>
</body>