<body>
    <div class='landing'>
        <br><br><br><br>
        <div class='content'>
        <div class='row'>
            <div class='col s6'>
                <h1>{{title}}</h1>

                <h5>escape the resort confines</h5>
            </div>
        </div>
        <br><br><br>
        <div class='row'>
            <div class='col s2 holder center hoverable'>
                <h5><a href="/users">Sign Up</a></h5>
            </div>

            <div class='col s2 offset-s1 holder center hoverable'>
                <h5><a href="/mountains">Explore</a></h5>
            </div>
        </div>
        </div>
    </div>
    <div class='holder'>
        asdfasdfasdfadf
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        asdfasdfasdfadf
    </div>
    <div>
        asdfasdfasdfadf
    </div>
    <div>
        asdfasdfasdfadf
    </div>
    <div>
        asdfasdfasdfadf
    </div>
    <div>
        asdfasdfasdfadf
    </div>
    </div>
</body>