<form action="/mountains" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="town">Town</label>
        <input type="text" name="town">
    </div>
    <div>
        <label for="state">State</label>
        <input type="text" name="state">
    </div>
    <div>
        <label for="zipCode">Zip Code</label>
        <input type="text" name="zipCode">
    </div>
    <div>
        <label for="parking">parking</label>
        <input type="text" name="parking">
    </div>
    <div>
        <label for="accessPoint">Access Point</label>
        <input type="text" name="accessPoint">
    </div>
    <div>
        <label for="hike">Hike</label>
        <input type="text" name="hike">
    </div>
    <div>
        <label for="img">upload an image</label>
        <input type="text" name="img">
    </div>
    
    

    <input type="submit" value="Create">
</form>