<form action="/mountains" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="town">Town</label>
        <input type="text" name="town">
    </div>
    <div>
        <label for="state">State</label>
        <input type="text" name="state">
    </div>
    
    

    <input type="submit" value="Create">
</form>