body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #314358;
  background-color: rgba(49, 67, 88, 0.09);
}

.landing { 
  background: url('/images/mountainbackground.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

a.nav {
  color: #D5DFE6;
}

a {
  color: rgb(49, 67, 88);
}

.holder {
  background-color: rgba(49, 67, 88, 0.5);
  color: #D5DFE6;
}

.nav-wrapper {
  background-color: rgb(49, 67, 88);
}

.content {
  padding: 10px;
}

.second { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(49, 67, 88);
  box-shadow: 0 1px 0 0 rgb(49, 67, 88);
}

.input-field input[type=text]:focus + label {
  color: rgb(49, 67, 88);
}
