<form action="/mountains/{{mountainId}}/trails" method="POST">
    <label for="difficulty">Difficulty</label>
    <input type="text" name="difficulty">

    <label for="description">Description</label>
    <input type="text" name="description">

    <input type="submit" value="Create">
</form>