<h1>Check out some Backcountry Legends</h1>

<div>
    {{#each users}}
        <div>{{this.name}} from {{this.hometown}} <span><img src="{{this.img}}" alt="pic"></span></div>
        
        
    {{/each}}
    

</div>