<h1>Check out some Backcountry Legends</h1>

<div>
    {{#each users}}
        <div>{{this.name}} from {{this.hometown}}</div>
    {{/each}}
    <div><img src="../public/images/MattWest.jpg" alt=""></div>

</div>